pipeline/FileCopypipeline_Dynamic_SQL.json
{
	"name": "FileCopypipeline_Dynamic_SQL",
	"properties": {
		"activities": [
			{
				"name": "getParameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select 'empTable' as TableName, 'adfworkshop_prod' as DBName",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ParameterDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Execute Copy Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "getParameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dbname": {
							"value": "@activity('getParameters').output.firstRow.DBName",
							"type": "Expression"
						},
						"tablename": {
							"value": "@activity('getParameters').output.firstRow.TableName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-09-01T06:48:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}