pipeline/Pipeline_Control.json
{
	"name": "Pipeline_Control",
	"properties": {
		"activities": [
			{
				"name": "Lookup Staging Row Count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetRowCountProductStaging]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ParameterDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Action On Staging Row Count",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup Staging Row Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup Staging Row Count').output.firstRow.RowCount,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Truncate Staging Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_TruncateProductStaging]"
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Import Data On True",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Pipeline_Import_Data",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "vtvishwanathbhat@gmail.com"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}