pipeline/Pipeline_Import_Data.json
{
	"name": "Pipeline_Import_Data",
	"properties": {
		"activities": [
			{
				"name": "Import Rows",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ProductID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ProductNumber",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Color",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Color",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "StandardCost",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "StandardCost",
									"type": "Decimal",
									"physicalType": "money"
								}
							},
							{
								"source": {
									"name": "ListPrice",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ListPrice",
									"type": "Decimal",
									"physicalType": "money"
								}
							},
							{
								"source": {
									"name": "Size",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Size",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Weight",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Weight",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "ProductCategoryID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductCategoryID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ProductModelID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductModelID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SellStartDate",
									"type": "DateTime",
									"physicalType": "String"
								},
								"sink": {
									"name": "SellStartDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "SellEndDate",
									"type": "DateTime",
									"physicalType": "String"
								},
								"sink": {
									"name": "SellEndDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DiscontinuedDate",
									"type": "DateTime",
									"physicalType": "String"
								},
								"sink": {
									"name": "DiscontinuedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ThumbNailPhoto",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ThumbNailPhoto",
									"type": "Byte[]",
									"physicalType": "varbinary"
								}
							},
							{
								"source": {
									"name": "ThumbnailPhotoFileName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ThumbnailPhotoFileName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ProductCSV",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable_Product_Staging",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Validate Import Rows",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Import Rows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_CheckProductStaging]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Send Success Message",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Validate Import Rows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-19.eastus.logic.azure.com:443/workflows/e8a53ebcd94540a4ad0aaec2e875167a/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Jn9WUfJvTjSAgC8oZVHfr4Yqibgf7871q5XzUmVRo7M",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"ErrorMessage": "",
						"EmailTo": "@pipeline().parameters.EmailTo"
					}
				}
			},
			{
				"name": "Send Failure Message",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Validate Import Rows",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-19.eastus.logic.azure.com:443/workflows/e8a53ebcd94540a4ad0aaec2e875167a/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Jn9WUfJvTjSAgC8oZVHfr4Yqibgf7871q5XzUmVRo7M",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"ErrorMessage": "@{activity('Validate Import Rows').error.message}",
						"EmailTo": "@pipeline().parameters.EmailTo"
					}
				}
			}
		],
		"parameters": {
			"EmailTo": {
				"type": "string",
				"defaultValue": "vtvishwanathbhat@gmail.com"
			}
		},
		"annotations": []
	}
}